* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
font-size: 62.5%;

--bg-body-color: #000000;

--bg-button-color:#065E7C;
--bg-button-color-click: #FFFFFF;

--input-color: #06181C;

/* table */
--bg-header-table: #092D38;
--bg-list-color: rgba(6, 22, 27, 0.5);
--bg-list-color-2: #06181C;

/* text colors */
--text-color: #E1E1E6;
--text-color-button-click: #065E7C;
--text-remove-color: #F75A68;
}

body, input, button {
  font-size: 1.6rem; 
  line-height: 2rem;

  font-family: 'Roboto', sans-serif;
}

body { 
  max-width: 112.0rem;
  margin: 10.6rem auto 9.6rem ;


  background-color: var(--bg-body-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4.8rem;
}

header .search {
  display: flex;
  gap: .8rem;
}

header .search label{
 position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width:0 ;
}

header .search input {
  width: 46.2rem;
  height: 4.8rem;

  background-color: var(--input-color);
  border: none;

  padding: 1.6rem;
  gap: 1rem;
  border-radius: .5rem;

  color: var(--text-color);
}

header .search input:focus {
  outline: 1px solid var(--text-color-button-click);
  caret-color: var(--text-color-button-click);
}

header .search button {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: 0 2.7rem;


  width: 17.0rem;
  height: 4.8rem;
  border-radius: .5rem;
  border: none;

  background-color: var(--bg-button-color);
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  
  transition: all .1s;
}

header .search button:hover{
  cursor: pointer;

  transform: scale(1.03);
}

header .search button:active{
  background-color: var(--bg-button-color-click);
  color: var(--text-color-button-click);
}

header .search button:active svg path{
  fill: var(--text-color-button-click);
}


table{
  border-collapse: collapse;

  width: 100%;
  margin-top: 8.7rem;
  color: var(--text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 160%;
}

table thead {
  height: 6.4rem;
  background-color: var(--bg-header-table);
}

table thead th {
  text-align: left;
  padding-left: 4rem;
}

table thead th:nth-child(1) {
  width: 50.4rem;
}

table tbody td {
  padding-left: 4rem;
}

table tr td.user {
  display: flex;
  align-items: center;
  height: 10.4rem;
}

table tr td img {
  width: 5.6rem;
  height: 5.6rem;

  border-radius: 3rem;
}

table tr td.user a{
text-decoration: none;
color: var(--text-color);

margin-left: 1.6rem;
}

table tr td.user a span{
color: #e1e1e6b5;
font-weight: 400;
}

table tr td .remove {
  color: var(--text-remove-color);
  border: none;
  background: none;

  font-weight: 700;
  font-size: 2rem;
  line-height: 160%;

  transition: all .3s;
}

table tr td .remove:hover {
  cursor: pointer;
  color: #f75a678b;

  transform: scale(0.97);
}

table th:first-child {
  border-top-left-radius: .7rem;
}

table th:last-child {
  border-top-right-radius: .7rem;
}

/* para pegar todas as coluna pares e aplicar isso */
table tr:nth-child(even) {
  background: var(--bg-list-color-2);
}

/* para pegar todas as coluna ímpares e aplicar isso */
table tr:nth-child(odd) {
    background:var(--bg-list-color);
  }